@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.btn-menu {
    display: none;
    border: 2px solid black;
    border-radius: 7px;
}

nav {
    display: flex;
    flex-direction: row;
}

main {
    min-height: calc(100vh - 110px);
}

footer p {
    margin: 0;
    text-align: center;
}

@media (max-width:900px) {
    .btn-menu {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 80px;
        right: 20px;
    }

    nav div {
        margin: 10px 0;
    }
}