<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exibir clientes</title>
        <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/table.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="../js/script.js"></script>
    </head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="container-header">
                    <span class="container-img">
                        <img src="../img/logo.png" alt="logo">
                    </span>
                    <span class="text container-text">
                        <h4>Sistema-venda</h4>
                        <span>Projeto backend</span>
                    </span>
                    <i class="bx bx-chevron-left btn-sidebar"></i>
                </div>
                <div class="container-search">
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Buscar...">
                </div>
                <nav class="container-nav">
                    <ul>
                        <li class="menu-link">
                            <i class='bx bx-home-alt'></i>
                            <div class="text">
                                <a class="painel-link" href="#">Painel</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <div type="button" class="menu-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-user'></i>
                                <div class="text">
                                    <span>Cliente</span>
                                    <i class='bx bx-chevron-down arrow'></i>
                                </div>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#">Exibir</a></li>
                                <li><a href="#">Cadastrar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <div type="button" class="menu-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-cart'></i>
                                <div class="text">
                                    <span>Produto</span>
                                    <i class='bx bx-chevron-down arrow'></i>
                                </div>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#">Exibir</a></li>
                                <li><a href="#">Cadastrar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <div type="button" class="menu-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-package'></i>
                                <div class="text">
                                    <span>Estoque</span>
                                    <i class='bx bx-chevron-down arrow'></i>
                                </div>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#">Exibir</a></li>
                                <li><a href="#">Cadastrar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <div type="button" class="menu-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-collapse-alt'></i>
                                <div class="text">
                                    <span>Tamanho</span>
                                    <i class='bx bx-chevron-down arrow'></i>
                                </div>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#">Exibir</a></li>
                                <li><a href="#">Cadastrar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <div type="button" class="menu-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bx-credit-card'></i>
                                <div class="text">
                                    <span>Venda</span>
                                    <i class='bx bx-chevron-down arrow'></i>
                                </div>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#">Exibir</a></li>
                                <li><a href="#">Cadastrar</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <div id="tema" class="container-tema">
                <div class="tema-mode">
                    <i class="bx bx-sun tema-claro"></i>
                    <i class="bx bx-moon tema-escuro"></i>
                </div>
                <div class="container-switch">
                    <span class="text-switch">Modo escuro</span>
                    <div class="toggle-switch">
                        <span id="switch" class="switch">
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <article>
                <section>
                    <div class="container-user">
                        <i class='bx bxs-user-circle'></i>
                        <div class="user">
                            <span>Douglas junior</span>
                            <span class="type-user">ADMIN</span>
                        </div>
                    </div>
                </section>
                <section class="container-busca">
                    <h3>Cliente / exibir</h3>
                    <form method="post" action="">
                        <h2>Busca clientes</h2>
                        <fieldset>
                            <input type="text" placeholder="Nome" name="txtNome" maxlength="80">
                            <input type="text" placeholder="CPF" name="txtCPF" maxlength="11">
                            <input type="text" placeholder="Cep" name="txtCep" minlength="8" maxlength="8" pattern="[0-9]{5}[0-9]{3}">
                            <input type="text" placeholder="UF" name="txtUF" minlength="2" maxlength="2" pattern="[aA-zZ]{2}">
                            <input type="text" placeholder="Cidade" name="txtCidade" maxlength="30">    
                            <input type="text" placeholder="Bairro" name="txtBairro" maxlength="30">
                            <input type="text" placeholder="Codigo cliente" name="txtCod">
                            <button type="submit" name="envBusca">
                                <i class='bx bx-search'></i>
                                <span>Buscar</span>
                            </button>
                        </fieldset>
                    </form>
                </section>
                <section class="container-table">
                    <form method="post" action="">
                        <h2>Exibe clientes</h2>
                        <table>
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Nome</td>
                                    <td>CPF</td>
                                    <td>CEP</td>
                                    <td>Rua</td>
                                    <td>Número</td>
                                    <td>Bairro</td>
                                    <td>Cidade</td>
                                    <td>UF</td>
                                    <td>Log</td>
                                    <td>Comple</td>
                                    <td>Observação</td>
                                    <td>Ações</td>
                                </tr>
                            </thead>          
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Antonio Rodrigues</td>
                                    <td>55214047897</td>
                                    <td>12345678</td>
                                    <td>José quintanilha</td>
                                    <td>13</td>
                                    <td>Jardim Alegre</td>
                                    <td>São Bernando Do Campo</td>
                                    <td>SP</td>
                                    <td>Predio</td>
                                    <td>Andar 15</td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="editar" value="">Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Antonio Rodrigues</td>
                                    <td>55214047897</td>
                                    <td>12345678</td>
                                    <td>José quintanilha</td>
                                    <td>13</td>
                                    <td>Jardim Alegre</td>
                                    <td>São Bernando Do Campo</td>
                                    <td>SP</td>
                                    <td>Predio</td>
                                    <td>Andar 15</td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="editar" value="">Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Antonio Rodrigues</td>
                                    <td>55214047897</td>
                                    <td>12345678</td>
                                    <td>José quintanilha</td>
                                    <td>13</td>
                                    <td>Jardim Alegre</td>
                                    <td>São Bernando Do Campo</td>
                                    <td>SP</td>
                                    <td>Predio</td>
                                    <td>Andar 15</td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="editar" value="">Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Antonio Rodrigues</td>
                                    <td>55214047897</td>
                                    <td>12345678</td>
                                    <td>José quintanilha</td>
                                    <td>13</td>
                                    <td>Jardim Alegre</td>
                                    <td>São Bernando Do Campo</td>
                                    <td>SP</td>
                                    <td>Predio</td>
                                    <td>Andar 15</td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="editar" value="">Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Antonio Rodrigues</td>
                                    <td>55214047897</td>
                                    <td>12345678</td>
                                    <td>José quintanilha</td>
                                    <td>13</td>
                                    <td>Jardim Alegre</td>
                                    <td>São Bernando Do Campo</td>
                                    <td>SP</td>
                                    <td>Predio</td>
                                    <td>Andar 15</td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="editar" value="">Editar</button>
                                    </td>
                                </tr>
                            </tbody>  
                            <tfoot>
                                <tr>
                                    <td colspan="13">Cadastrar mais clientes</td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </section>
            </article>
        </main>
        <footer>
            <p>Desenvolvido por <strong>Gustavo Sachetto</strong></p>
        </footer>
    </body>
</html>